@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

body, html {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
  background-color: rgb(244, 244, 244);
}

.search_box{ text-align: right; }

.container{
  margin: 0px auto 15% auto;
  padding: 50px 100px;
  top: 80px;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
  width: 80%;
  height: auto;
}

/*.container{
  margin: auto;
  padding: 50px 100px;
  top: 80px;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
  width: 45%;
  height: auto;
}*/

.button {
  margin-top: 20px;
  display: inline-block;
}

.numbox {
  padding: 15px 3px; 
  margin-top: 30px;
}