<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.Board.domain.mappers.PostMapper">
    <sql id="postColumns">
            post_id
        ,   title
        ,   writer
        ,   content
        ,   view_count
        ,   created_date
        ,   modified_date
        ,   id
    </sql>

    <!-- 게시글 검색 -->
    <sql id="search">
        <!-- 검색 키워드가 있을 때 -->
        <if test="keyword != null and keyword != ''">
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="searchType != null and searchType != ''">
                    <choose>
                        <when test="'title'.equals( searchType )">
                            AND title LIKE CONCAT('%', #{keyword}, '%')
                        </when>
                        <when test="'content'.equals( searchType )">
                            AND content LIKE CONCAT('%', #{keyword}, '%')
                        </when>
                        <when test="'writer'.equals( searchType )">
                            AND writer LIKE CONCAT('%', #{keyword}, '%')
                        </when>
                    </choose>
                </when>
                <!-- 전체 검색일 때 때 -->
                <otherwise>
                    AND (
                    title LIKE CONCAT('%', #{keyword}, '%')
                    OR content LIKE CONCAT('%', #{keyword}, '%')
                    OR writer LIKE CONCAT('%', #{keyword}, '%')
                    )
                </otherwise>
            </choose>
        </if>
    </sql>
    
    <insert id="save" parameterType="com.project.Board.domain.dto.post.PostRequest" useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO pj_post (
            <include refid="postColumns" />
        )
        VALUES (
            #{postId}
        ,   #{title}
        ,   #{writer}
        ,   #{content}
        ,   0
        ,   NOW()
        ,   NULL
        ,   #{id}
        )
    </insert>

    <select id="findById" parameterType="Integer" resultType="com.project.Board.domain.dto.post.PostResponse">
        SELECT
            <include refid="postColumns" />
        FROM
            pj_post
        WHERE
            post_id = #{postId}
        AND
            delete_yn = 0
    </select>
    
    <update id="update" parameterType="com.project.Board.domain.dto.post.PostRequest">
        UPDATE pj_post
        SET
            modified_date = NOW()
        ,   title = #{title}
        ,   content = #{content}
        ,   writer = #{writer}
        WHERE
            post_id = #{postId}
    </update>

    <delete id="deleteById" parameterType="Integer">
        UPDATE pj_post
        SET
            delete_yn = 1
        WHERE
            post_id = #{postId}
    </delete>

    <select id="findAll" parameterType="com.project.Board.domain.dto.page.SearchDto" resultType="com.project.Board.domain.dto.post.PostResponse">
        SELECT
            <include refid="postColumns" />
        FROM
            pj_post
        WHERE
            delete_yn = 0
            <include refid="search" />
        ORDER BY
            created_date desc
        LIMIT #{pagination.limitStart}, #{recordSize}
    </select>

    <!-- 게시글 수 카운팅 -->
    <select id="count" parameterType="com.project.Board.domain.dto.page.SearchDto" resultType="int">
        SELECT
            COUNT(*)
        FROM
            pj_post
        WHERE
            delete_yn = 0
            <include refid="search" />
    </select>

    <select id="findMine" resultType="com.project.Board.domain.dto.post.PostResponse">
        SELECT
            <include refid="postColumns" />
        FROM
            pj_post a
        INNER JOIN
            `user`b
        ON
            a.id = b.id
        WHERE
            delete_yn = 0
        ORDER BY
            created_date desc
    </select>
</mapper>