<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.Board.domain.mappers.UserMapper">
    <sql id="userColumns">
            id
        ,   name
        ,   sex
        ,   age_group
        ,   user_id
        ,   password
        ,   nickname
        ,   height
        ,   weight
        ,   roles
    </sql>

    <insert id="joinUser" parameterType="com.project.Board.domain.dto.user.MemberRequest">
        INSERT INTO user
            ( name, sex, age_group, user_id, password, nickname, height, weight)
        VALUES
            ( #{name}, #{sex}, #{ageGroup}, #{userId}, #{password}, #{nickname}, #{height}, #{weight})
    </insert>

    <select id="loginUser" resultType="com.project.Board.domain.dto.user.Member">
        SELECT
            <include refid="userColumns" />
        FROM
            user
        WHERE
            user_id =#{userId}
    </select>
</mapper>