.container {
    margin: 20px 15vw;
    position: relative;
    text-align: center;
    font-size: 14px;
    width: 1000px;
}

article {
    position: relative;
    width: 100%;
}

/* 번호 */
tr :first-child{
    width: 100px;
    height: auto;
}

/* 제목 줄 */
tr :nth-child(2){
    width: 550px;
}

/* 제목 */
tr>td.title{
    text-align: start;
}

/* 작성일 */
tr>td.writeDate {
    width: 70px;
}

/* 조회수 */
tr>td.viewCount {
    width: 70px;
}