<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/basic}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="content">
    <div class="container">
        <div th:if="${param.error}">Invalid username and password.</div>
        <div th:if="${param.logout}">You have been logged out.</div>
        <form action="/auth/login-process" method="post" class="row gap-4">
            <div class="col-6">
              <label for="inputEmail4" class="form-label">Id</label>
              <input type="text" class="form-control" id="inputEmail4" name="userid" required>
            </div>
            <div class="col-6">
              <label for="inputPassword4" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword4" name="password" required>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">로그인</button>
              <button type="button" class="btn btn-primary" onclick="location.href='/post/register'" >회원가입</button>
            </div>
          </form>
    </div>

</th:block>
</html>