<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="layout/basic"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="content">

      <div class="container" >
        <form class="row gap-1">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="니 이메일" disabled>
            </div>
            <div class="col-6">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="니 비번" disabled>
            </div>
            <div class="col-6">
                <label for="inputAddress" class="form-label">키</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="188.2cm">
            </div>
            <div class="col-6">
                <label for="inputAddress2" class="form-label">몸무게</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="68.2kg">
            </div>
            <div class="col-6">
                <label for="inputCity" class="form-label">활동 지역</label>
                <input type="text" class="form-control" id="inputCity" placeholder="서울시">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">내 정보수정</button>
            </div>
        </form>
    </div>
</th:block>>
</html>