<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head">
    <title>게시판</title>
</head>
<body>
    <header id="header">
        <div class="container-fluid d-flex justify-content-between align-items-center" >
          <div class="logo">
            <h1 class="text-light"><a href="/post/index">WeBuild</a></h1>
          </div>
          <nav class="navbar">
            <ul id="navbar">
              <li><a class="nav-link" href="/post/post">게시판</a></li>
              <li><a class="nav-link" href="/post/login">로그인</a></li>
              <li><a class="nav-link" href="/post/register">회원가입</a></li>
            </ul>
          </nav>
        </div>
      </header>

    <main class="container">
        <article>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">글쓴이</th>
                    <th scope="col">작성일</th>
                    <th scope="col">조회</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">11234441</th>
                    <td class="title"><a href="/post/view"><p>Mark</p></a></td>
                    <td class="writer">Otto</td>
                    <td class="writeDate">03.09</td>
                    <td class="viewCount">3814</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td class="title"><a href="/post/view"><p>Jacob</p></a></td>
                    <td class="writer">Thornton</td>
                    <td class="writeDate">01.13</td>
                    <td class="viewCount">119</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td class="title"><a href="/post/view"><p>Larry the Bird</p></a></td>
                    <td class="writer">Larry the Bird</td>
                    <td class="writeDate">22.12.25</td>
                    <td class="viewCount">1024</td>
                  </tr>
                  <tr>
                    <th scope="row">512345</th>
                    <td class="title"><a href="/post/view"><p>미안하다 이거 보여주려고</p></a></td>
                    <td class="writer">나루토사스케</td>
                    <td class="writeDate">03.07</td>
                    <td class="viewCount">2074</td>
                  </tr>
                  <tr>
                    <th scope="row">1182</th>
                    <td class="title"><a href="/post/view"><p>넘버원 배구단원 모집</p></a></td>
                    <td class="writer">오세영</td>
                    <td class="writeDate">03.07</td>
                    <td class="viewCount">1</td>
                  </tr>
                  <tr>
                    <th scope="row">91</th>
                    <td class="title"><a href="/post/view"><p>넘버원 배구단원 모집</p></a></td>
                    <td class="writer">오세영</td>
                    <td class="writeDate">03.05</td>
                    <td class="viewCount">3</td>
                  </tr>
                </tbody>
              </table>
              <div class="col-12" id="button">
                <button type="submit" class="btn btn-primary">글쓰기</button>
              </div>
        </article>
    </main>
</body>
</html>