<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: main-head">
</head>
<body>
    <header id="header">
        <div class="container-fluid d-flex justify-content-between align-items-center">
          <div class="logo">
            <h1 class="text-light"><a href="/post/index">WeBuild</a></h1>
          </div>
          <nav class="navbar">
            <ul id="navbar">
                <li><a class="nav-link" href="/post/post">게시판</a></li>
                <li><a class="nav-link" sec:authorize="isAnonymous()" href="/post/login">로그인</a></li>
                <li><span class="nav-link" sec:authorize="isAuthenticated()" th:text="@{${#authentication.principal.nickname}}"></span> 님 환영합니다</li>
                <li><a class="nav-link" sec:authorize="isAuthenticated()" href="/post/login">로그아웃</a></li>
                <li><a class="nav-link" sec:authorize="isAuthenticated()" href="/post/mypage">마이페이지</a></li>
                <li><a class="nav-link" sec:authorize="isAnonymous()" href="/post/register">회원가입</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <div class="container">
        <form class="row gap-4" action="/auth/register" method="post" >
            <div class="col-9">
                <label for="inputName" class="form-label">실명</label>
                <input type="text" class="form-control" id="inputName" name="name">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputSex">성별</label>
                <select class="form-select" id="inputSex" name="sex">
                    <option selected name="sex">Choose...</option>
                    <option value="male" name="sex">남자</option>
                    <option value="female" name="sex">여자</option>
                </select>
            </div>
            <div class="col-9">
              <label for="inputEmail4" class="form-label">Id</label>
              <input type="text" class="form-control" id="inputEmail4" name="userId">
            </div>
            <div class="col-9">
              <label for="inputPassword4" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword4" name="password">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputAgeGroup">연령대</label>
                <select class="form-select" id="inputAgeGroup" name="ageGroup">
                    <option selected>현재 연령대</option>
                    <option value="10">10대</option>
                    <option value="20">20대</option>
                    <option value="30">30대</option>
                    <option value="40">40대</option>
                    <option value="50">50대</option>
                    <option value="60">50대 이상</option>
                </select>
            </div>
            <div class="col-9">
                <label for="inputNickname" class="form-label">닉네임</label>
                <input type="text" class="form-control" id="inputNickname" name="nickname">
            </div>
            <div class="col-9">
              <label for="inputAddress" class="form-label">키</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="ex) 188" name="height">
            </div>
            <div class="col-9">
              <label for="inputAddress2" class="form-label">몸무게</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="ex) 68" name="weight">
            </div>

            <div class="col-12">
              <button type="submit" id="submit" class="btn btn-primary">회원가입</button>
            </div>
          </form>
    </div>

</body>
</html>