<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="content">

      <div class="container">
        <form class="row gap-4" action="/auth/register" method="post" >
            <div class="col-12">
                <label for="inputName" class="form-label">실명</label>
                <input type="text" class="form-control" id="inputName" name="name" maxlength="4" required>
            </div>
            <div>
                <label for="inputSex" class="form-label">성별</label>
                <select class="form-select" id="inputSex" aria-label="Default select example" name="sex" required>
                    <option selected name="sex" value="">Choose...</option>
                    <option value="male" name="sex">남자</option>
                    <option value="female" name="sex">여자</option>
                </select>
            </div>
            <div class="col-12">
              <label for="inputUserId" class="form-label">아이디(최대 7글자)</label>
              <input type="text" class="form-control" id="inputUserId" name="userId" maxlength="7" required>
            </div>
            <div class="col-12">
              <label for="inputPassword" class="form-label">비밀번호(최대 10글자)</label>
              <input type="password" class="form-control" id="inputPassword" name="password" maxlength="10" required>
            </div>
            <div>
                <label for="inputAgeGroup" class="form-label">연령대</label>
                <select class="form-select" id="inputAgeGroup" aria-label="Default select example" name="ageGroup" required>
                    <option value="">현재 연령대</option>
                    <option value="10">10대</option>
                    <option value="20">20대</option>
                    <option value="30">30대</option>
                    <option value="40">40대</option>
                    <option value="50">50대</option>
                    <option value="60">50대 이상</option>
                </select>
            </div>
            <div class="col-12">
                <label for="inputNickname" class="form-label">닉네임</label>
                <input type="text" class="form-control" id="inputNickname" name="nickname" required>
            </div>
            <div class="col-12">
              <label for="inputHeight" class="form-label">키</label>
              <input type="text" class="form-control" id="inputHeight" placeholder="cm 제외  ex) 188" name="height" required>
            </div>
            <div class="col-12">
              <label for="inputWeight" class="form-label">몸무게</label>
              <input type="text" class="form-control" id="inputWeight" placeholder="kg 제외  ex) 68" name="weight" required>
            </div>

            <div class="col-12" style="text-align: center">
              <button type="button" id="checkDup" class="btn btn-primary">회원가입</button>
            </div>
          </form>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script>


            $(function(){

                $("#checkDup").click(function(){

                    let userId = $("#inputUserId").val();
                    let nickname = $("#inputNickname").val();

<!--                정규표현식-->
                    let regex = /^[가-힣]*$/;
                    if(!regex.test($('#inputName').val())){
                        alert('이름은 한글로 입력해주세요');
                        return false;
                    }
                    let regexInt = /^[0-9]+$/;
                    if(!regexInt.test(Math.floor($('#inputHeight').val())) || !regexInt.test(Math.floor($('#inputWeight').val()))){
                        alert('숫자로 입력해주세요');
                        return false;
                    }
                    $('#inputHeight').val(Math.floor($('#inputHeight').val()));
                    $('#inputWeight').val(Math.floor($('#inputWeight').val()));


                    $.ajax({
                        type:'post', //post 형식으로 controller 에 보내기위함!!
                        url:"/auth/checkDup", // 컨트롤러로 가는 mapping 입력
                        data: {"userId":userId, "nickname":nickname}, // 원하는 값을 중복확인하기위해서  JSON 형태로 DATA 전송
                        success: function(data){
                            console.log("전송 성공");
                            if(data == "N"){ // 만약 성공할시
                                console.log("중복 없음");
                                $("form").submit();
                            }
                            else if(data == "ID"){
                                console.log("아이디 중복");
                                $("#userId").trigger("focus");
                            }
                            else if(data == "NICK"){
                                console.log("닉네임 중복");
                                $("#nickname").trigger("focus");
                            }
                            else {
                                console.log("그 외의 에러");
                            }
                        },
                        error : function(error){alert('잘못된 입력 값입니다.');}
                    });
                });
            });

    </script>
</th:block>
</html>