<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: main-head">
</head>
<body>
    <header id="header">
        <div class="container-fluid d-flex justify-content-between align-items-center">
          <div class="logo">
            <h1 class="text-light"><a href="/post/index">WeBuild</a></h1>
          </div>
          <nav id="navbar" class="navbar">
            <ul id="navbar">
                <li><a class="nav-link" href="/post/post">게시판</a></li>
                <li><a class="nav-link" sec:authorize="isAnonymous()" href="/post/login">로그인</a></li>
                <li><span class="nav-link" sec:authorize="isAuthenticated()" th:text="@{${#authentication.principal.nickname}}"></span> 님 환영합니다</li>
                <li><a class="nav-link" sec:authorize="isAuthenticated()" href="/post/login">로그아웃</a></li>
                <li><a class="nav-link" sec:authorize="isAuthenticated()" href="/post/mypage">마이페이지</a></li>
                <li><a class="nav-link" sec:authorize="isAnonymous()" href="/post/register">회원가입</a></li>
            </ul>
          </nav>
        </div>
    </header>

    <div class="container">
        <table class="row gap-4">
            <span class="col-3">
                <div class="card">
                    <div class="card-header">
                      게시글 번호
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0" th:text="${posts.postId}"></blockquote>
                    </div>
                  </div>
            </span>
            <span class="col-3">
                <div class="card">
                    <div class="card-header">
                      글쓴이
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0" th:text="${posts.writer}"></blockquote>
                    </div>
                  </div>
            </span>
            <span class="col-9">
                <div class="card">
                    <div class="card-header">
                      작성일
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0" th:text="${#temporals.format( posts.createdDate, 'yyyy-MM-dd HH:mm' )}"></blockquote>
                    </div>
                  </div>
            </span>
            <span class="col-3">
                <div class="card">
                    <div class="card-header">
                      조회수
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0" th:text="${posts.viewCount}"></blockquote>
                    </div>
                  </div>
            </span>
            <span class="col-6">
                <div class="card">
                    <div class="card-header">
                        제목
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0" th:text="${posts.title}"></blockquote>
                    </div>
                </div>
            </span>
            <span class="col-12">
                <div class="card">
                    <div class="card-header">
                      상세 내용
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0" th:text="${posts.content}"></blockquote>
                    </div>
                  </div>
            </span>
            <div id="button" style="text-align: center;">
                <a th:href="@{/post/write( postId = ${posts.postId} )}" class="btn btn-primary">수정</a>
                <button type="submit" class="btn btn-primary">삭제</button>
            </div>
        </table>

        <div class="numbox">전체 댓글 <span id="total_reply">2</span>개</div>
        <ul class="reply">
            <li class="rp_nickbox">손흥민</li>
            <li class="rp_content">진짜 실화냐</li>
            <li class="rp_date">2023.03.06 19:22:03</li>
        </ul>
        <ul class="reply">
            <li class="rp_nickbox">일곱글자제한임</li>
            <li class="rp_content">나루토에는 감동이 있다</li>
            <li class="rp_date">2023.03.06 19:23:55</li>
        </ul>
        <div class="reply_write">
            <label for="inputCity" class="form-label">댓글</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div id="rp_button">
            <button type="submit" class="btn btn-primary">댓글 작성</button>
        </div>
    </div>
</body>
</html>
