<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="layout/basic"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="content">

    <div class="container">
        <table class="row gap-4">
            <span class="col-3">
                <div class="card">
                    <div class="card-header">
                      글쓴이
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0" th:text="${posts.writer}"></blockquote>
                    </div>
                  </div>
            </span>
            <span class="col-9">
                <div class="card">
                    <div class="card-header">
                      작성일
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0" th:text="${#temporals.format( posts.createdDate, 'yyyy-MM-dd HH:mm' )}"></blockquote>
                    </div>
                  </div>
            </span>
            <span class="col-3">
                <div class="card">
                    <div class="card-header">
                      조회수
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0" th:text="${posts.viewCount}"></blockquote>
                    </div>
                  </div>
            </span>
            <span class="col-6">
                <div class="card">
                    <div class="card-header">
                        제목
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0" th:text="${posts.title}"></blockquote>
                    </div>
                </div>
            </span>
            <span class="col-12">
                <div class="card">
                    <div class="card-header">
                      상세 내용
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0" th:text="${posts.content}"></blockquote>
                    </div>
                  </div>
            </span>
            <form id="deleteForm" action="/post/delete" th:if="${{#authentication.principal.id == posts.id}}" method="post">
                <input type="hidden" id="postId" name="postId" th:value="${posts.postId}" />
                <div id="button" style="text-align: center;">
                    <a th:href="@{/post/write( postId = ${posts.postId} )}" class="btn btn-primary">수정</a>
                    <button type="button" onclick="deletePost()" class="btn btn-primary">삭제</button>
                </div>
            </form>
        </table>

<!--        댓글 기능 미구현-->
        <div class="numbox">전체 댓글 <span id="total_reply">2</span>개</div>
        <ul class="reply">
            <li class="rp_nickbox">손흥민</li>
            <li class="rp_content">댓글기능 구현중</li>
            <li class="rp_date">2023.03.06 19:22:03</li>
        </ul>
        <ul class="reply">
            <li class="rp_nickbox">일곱글자제한임</li>
            <li class="rp_content">공사중</li>
            <li class="rp_date">2023.03.06 19:23:55</li>
        </ul>
        <div class="reply_write">
            <label class="form-label">댓글</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div id="rp_button">
            <button type="submit" class="btn btn-primary">댓글 작성</button>
        </div>
    </div>
</th:block>>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/
        function deletePost() {

          if ( !confirm([[ ${posts.postId} ]] + '번 게시글을 삭제할까요?') ) {
            return false;
          }
          document.getElementById('deleteForm').submit();
        }

        /*]]>*/
        </script>
</th:block>
</html>
