<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="layout/basic"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="content">

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="table-light border border-secondary-subtle">작성자</th>
                    <th scope="col" class="border border-secondary-subtle" th:text="${posts.writer}">First</th>
                    <th scope="col" class="table-light border border-secondary-subtle">작성일</th>
                    <th scope="col" class="border border-secondary-subtle" th:text="${#temporals.format( posts.createdDate, 'yyyy-MM-dd HH:mm' )}">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="table-light border border-secondary-subtle">제목</th>
                    <td class="border border-secondary-subtle"th:text="${posts.title}"></td>
                    <td class="table-light border border-secondary-subtle">조회수</td>
                    <td class="border border-secondary-subtle" th:text="${posts.viewCount}">@mdo</td>
                </tr>
            </tbody>
        </table>
            <span class="col-12">
                <div class="card" style="margin-top: 30px">
                    <div class="card-header">
                      상세 내용
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0" th:text="${posts.content}"></blockquote>
                    </div>
                  </div>
            </span>
            <form id="deleteForm" action="/post/delete" method="post">
                <input type="hidden" id="postId" name="postId" th:value="${posts.postId}" />
                <input type="hidden" id="id" name="id" th:value="${posts.id}" />
                <div style="text-align: center;">
                    <div class="button" th:if="${#authentication.principal != 'anonymousUser'}">
                        <a th:if="${#authentication.principal.id == posts.id}" th:href="@{/post/write( postId = ${posts.postId} )}"  class="btn btn-primary">수정</a>
                        <button type="button" th:if="${#authentication.principal.id == posts.id}" onclick="deletePost()" class="btn btn-primary">삭제</button>
                    </div>
                    <div class="button">
                        <button type="button" onclick="goListPage();" class="btn btn-outline-secondary">뒤로</button>
                    </div>
                </div>

            </form>

<!--        댓글 기능 미구현-->
<!--        <div class="numbox">전체 댓글 <span id="total_reply">2</span>개</div>-->
<!--        <ul class="reply">-->
<!--            <li class="rp_nickbox">손흥민</li>-->
<!--            <li class="rp_content">댓글기능 구현중</li>-->
<!--            <li class="rp_date">2023.03.06 19:22:03</li>-->
<!--        </ul>-->
<!--        <ul class="reply">-->
<!--            <li class="rp_nickbox">일곱글자제한임</li>-->
<!--            <li class="rp_content">공사중</li>-->
<!--            <li class="rp_date">2023.03.06 19:23:55</li>-->
<!--        </ul>-->
        <form>
            <div th:if="${#authentication.principal != 'anonymousUser'}">
                <input type="hidden" name="postId" th:value="${posts.postId}" />
                <input type="hidden" id="repWriter" name="repWriter" th:value="${#authentication.principal.nickname}" />
                <div class="reply_write">
                    <label class="form-label">댓글</label>
                    <textarea class="form-control" id="repContent" name="repContent" rows="3"></textarea>
                </div>
                <div id="rp_button">
                    <button type="button" id="writeReply" class="btn btn-primary">댓글 작성</button>
                </div>
            </div>
        </form>
    </div>
</th:block>>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/
            function deletePost() {

              if ( !confirm([[ ${posts.postId} ]] + '번 게시글을 삭제할까요?') ) {
                return false;
              }

              document.getElementById('deleteForm').submit();
            }

            // 게시글 리스트 페이지로 이동
            function goListPage() {
                const queryString = new URLSearchParams(location.search);
                queryString.delete('postId');
                location.href = '/post/post' + '?' + queryString.toString();
            }

            $(function(){


                $("#writeReply").click(function(){

                    let repWriter = $("#repWriter").val();
                    let repContent = $("#repContent").val();

                    $.ajax({
                        type:'post',
                        url:"/reply/write",
                        data: {"postId":[[ ${posts.postId} ]]
                             , "repWriter":repWriter
                             , "repContent":repContent},
                        success: function(data){
                            console.log("넘긴 데이터 : " + data);
                        },
                        error : function(error){alert(error);}
                    });
                });
            });

        /*]]>*/
        </script>
</th:block>
</html>
