<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="layout/basic"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="content">

    <div class="container">
        <form class="row gap-5" id="saveForm" method="post">
            <input type="hidden" id="postId" name="postId" th:if="${post != null}" th:value="${post.postId}" />
            <input type="hidden" id="id" name="id" th:value="@{${#authentication.principal.id}}" />
            <input type="hidden" id="writer" name="writer" th:value="@{${#authentication.principal.userId}}"/>
            <div class="form-floating">
                <div>제목</div>
                <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="title" required></input>
                <label for="floatingTextarea" ></label>
              </div>
            <div class="form-floating">
                <div>내용</div>
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="content" required></textarea>
                <label for="floatingTextarea" ></label>
            </div>
            <div class="col-12" id="button">
                <button type="button" onclick="savePost()" id="saveBtn" class="btn btn-primary">완료</button>
            </div>
        </form>
    </div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
        /*<![CDATA[*/

        window.onload = () => {
          renderPostInfo();
        }

        // 게시글 상세정보 렌더링
        function renderPostInfo() {
          const post = [[ ${post} ]];
          const form = document.getElementById('saveForm');
          const fields = ['title', 'content'];
          fields.forEach(field => {
            form[field].value = post[field];
          })
        }

        function savePost() {
            alert('게시글이 저장되었습니다');
            const form = document.getElementById('saveForm');
            document.getElementById('saveBtn').disabled = true;
            form.action = [[ ${post == null} ]] ? '/post/save' : '/post/update';
            form.submit();
        }

        $(document).ready(function() {
            $('.form-floating').on( 'keyup', 'textarea', function (e){
            $(this).css('height', 'auto' );
            $(this).height( this.scrollHeight );
            });
            $('.form-floating').find( 'textarea' ).keyup();
        });

        /*]]>*/
        </script>
    </th:block>
</th:block>>
</html>
