<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head"></head>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>작성 페이지</title>
    <link href="/assets/css/header.css" rel="stylesheet">
    <link href="/assets/css/view.css" rel="stylesheet">
    <link href="/assets/css/write.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
    <header id="header">
        <div class="container-fluid d-flex justify-content-between align-items-center">
          <div class="logo">
            <h1 class="text-light"><a href="index.html">WeBuild</a></h1>
          </div>
          <nav class="navbar">
            <ul id="navbar">
              <li><a class="nav-link" href="/post/post.html">게시판</a></li>
              <li><a class="nav-link" href="/post/login.html">로그인</a></li>
              <li><a class="nav-link" href="/post/register.html">회원가입</a></li>
            </ul>
          </nav>
        </div>
    </header>

    <div class="container">
        <form class="row gap-5">
            <div class="form-floating">
                <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea">
                <label for="floatingTextarea">제목</label>
              </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"></textarea>
                <label for="floatingTextarea">상세 내용</label>
            </div>
            <div class="col-12" id="button">
                <button type="submit" class="btn btn-primary">완료</button>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function() {
            $('.form-floating').on( 'keyup', 'textarea', function (e){
            $(this).css('height', 'auto' );
            $(this).height( this.scrollHeight );
            });
            $('.form-floating').find( 'textarea' ).keyup();
        });
    </script>
</body>
</html>
